<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Phone Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <br>
    <div [hidden]="user">
        <ion-label>Sign In with Your Phone Number</ion-label>
        <ion-item>
            <ion-label position="stacked">Number</ion-label>
            <ion-input [(ngModel)]="phoneNumber.number" placeholder="+2711155551" maxlength="12"></ion-input>
        </ion-item>

        <div id="recaptcha-container"></div>

        <ion-button expand="block" (click)="sendLoginCode()" color="tertiary">
            <ion-icon name="call"></ion-icon>SMS Text Login Code</ion-button>

        <div *ngIf="windowRef.confirmationResult">
            <hr>
            <label for="code">Enter your Verification Code Here</label>
            <ion-item>

                <ion-input [(ngModel)]="verificationCode" maxlength="12" color="tertiary"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="verifyLoginCode()" color="tertiary">Verify</ion-button>
        </div>

    </div>
</ion-content>