<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>addItem</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="item.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" [(ngModel)]="item.price"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-input type="text" [(ngModel)]="item.type"></ion-input>
        </ion-item>



        <!-- <ion-item>
                    <ion-label position="floating">Gender</ion-label>
                    <ion-input></ion-input>
                </ion-item> -->
        <br>
        <ion-button expand="full" color="tertiary" (click)="submit()">Submit</ion-button>
    </div>

</ion-content>