.or span {
    text-align: center;
}

.circle-icon {
    background: #7044ff;
    padding: 15px;
    border-radius: 50%;
}

table {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: center;
}

.center {
    text-align: center;
}

// form {
//     border: 1px solid gray;
// }